body {
    font-family: Arial, sans-serif;
    background-color: #ffff66;
    margin: 20px;
}

h1 {
    color: darkblue;
    text-align: center;
}

h2 {
    color: darkred;
}


ul {
    background-color: white;
    padding: 10px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
}
